<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ministere/show-product" class="<%= path === '/ministere/show-product' ? 'actif-nav-link' : '' %> ">Ministere</a></li>
        <li><a href="/oaic/create-product" class="<%= path === '/oaic/create-product' ? 'actif-nav-link' : '' %> ">Add Product</a></li>
    </ul>
</nav>